:root {
  --color-accent-light: #BFE0FF;
  --color-accent-dark: #2A5881;
  --color-highlight: #F6C4B0;
  --color-neutral-light: #E0E6AF;
  --color-wood: #425206;
  --color-brick: #984835;

  --color-background: #EAE7DC;
  --color-text-main: #4F1F05;
  --color-text-support: #AD7F65;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: 'Source Sans 3', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a {
  color: var(--color-accent-dark);
  text-decoration: none;
}

a:hover {
  color: var(--color-highlight);
}

button {
  background-color: var(--color-wood);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-brick);
}
